page-contact {

}
.buttoncart {
	border: 1px solid black;
	height: 60px; 
}
.right{
	text-align:right !important;
}
.middle{
	text-align:middle;
}
.left{
	text-align:left;
}
.fixed-top {
	position:fixed;
	z-index:100000;
}
.mar-top{
	margin-top:60px;
}
.button-width {
	width:70%;
	margin:10px 0 10px 20px;
}
.button-height {
	height:40px !important;
}
.trait {
	border:1px solid black;
	width: 90%;
}