page-contact {

}

#defaultParam {
	margin-top: 25px;
}
#defaultLanguage {
	margin-top: 15px;
}
#param {
	margin-top: 15px;
}
.separateur {
	width: 90%;
	border-bottom: 1px solid black;
	margin: auto;
}
#legal {
	margin: 20px;
}
#legal span {
	margin-top: 30px;
	display:block;
}
.creditcard_content{
	margin-top : 30px;
}
.title_card{
	background-color : #8E01D0;
	color : white;
}
#menuSettings {
	z-index:100;
}
.marginleft50 {
	margin-left:50px;
}