<ion-menu side="left" id="menuSettings" [content]="mycontent">

  <ion-header>
        
    <ion-item>
      <ion-item menuClose item-left detail-none><ion-icon name="arrow-back"><span class="marginleft30">Paramètre</span></ion-icon></ion-item>
    </ion-item>
  </ion-header>

  <ion-content>

      <div id="defaultParam">
          <ion-item>
            <ion-label>Qualité par défaut</ion-label>
            <ion-select [(ngModel)]="Quality">
              <ion-option value="low">Basse</ion-option>
              <ion-option value="middle" selected="true">Moyenne</ion-option>
              <ion-option value="high">Elevé</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Texture par défaut</ion-label>
            <ion-select [(ngModel)]="Texture">
              <ion-option value="low" selected="true">Plastique</ion-option>
              <ion-option value="middle">Acier</ion-option>
              <ion-option value="high">Aluminium</ion-option>
              <ion-option value="high">Bois</ion-option>
            </ion-select>
          </ion-item>
      </div>

      <div id="defaultLanguage">
          <ion-item>
            <ion-label>Langage par défaut</ion-label>
            <ion-select [(ngModel)]="Laguage">
              <ion-option value="low" selected="true">Français</ion-option>
              <ion-option value="middle">Anglais</ion-option>
            </ion-select>
          </ion-item>
      </div>

      <div id="param">
          <ion-list>
            <ion-item>
              <ion-label>Notification</ion-label>
              <ion-toggle [(ngModel)]="notification" color="secondary"></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-label>Localisation</ion-label>
              <ion-toggle [(ngModel)]="localisation" color="secondary"></ion-toggle>
            </ion-item>

          </ion-list>
      </div>

      <div class="separateur"></div>

      <div id="legal">
          <span><a href="">A propos</a></span>
          <span><a href="">Condition d'utilisation</a></span>
          <span><a href="">Nos boutiques</a></span>
      </div>

          
  </ion-content>
</ion-menu>

  <ion-header>
    <ion-toolbar color="ter">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Mon compte
        </ion-title>
        <ion-buttons end *ngIf="!edited && onglet=='info'">
            <button ion-button icon-only (click)="changeLabel()">
                <ion-icon name="ios-create-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding >
  <ion-row class="card_background_page">
  <ion-item>
    <!--<img class="img_profil_fond" src="assets/img/profil1.jpg"/>-->
    <button ion-button color="blanc" style="font-size: 18px; width:50px; height: 40px;" icon-only>
                <ion-icon name="ios-camera-outline"></ion-icon>
            </button>
    <ion-avatar>
      <img class="card_image_profil" src="assets/img/profil1.jpg"/> 
    </ion-avatar>
            
    </ion-item>
  </ion-row>

  <div class="element_content">
    <ion-segment [(ngModel)]="onglet">
      <ion-segment-button value="info">
          Mes informations
      </ion-segment-button>
      <ion-segment-button value="plan">
          Mes plans
      </ion-segment-button>
      <ion-segment-button value="pay">
          Paiement
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="onglet" col-lg-10>

        <div *ngSwitchCase="'info'">
            <div center>
                <button ion-button round color="danger" *ngIf="edited" (click)="cancelChanges()">Annuler</button>
                <button ion-button round color="secondary" *ngIf="edited">Valider</button>
            </div>
            <ion-list no-lines>
                <ion-item>
                  <ion-icon name="logo-facebook"></ion-icon>
                    <ion-label stacked>Nom</ion-label>
                    <ion-input id="lblLastName" disabled="{{isDisabled}}" type="text" value="Boccard"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="logo-facebook"></ion-icon>
                    <ion-label stacked>Prénom</ion-label>
                    <ion-input disabled="{{isDisabled}}" type="text" value="Pierre-Alexis"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="logo-facebook"></ion-icon>
                    <ion-label stacked>Date de naissance</ion-label>
                    <ion-input disabled="{{isDisabled}}" type="text" value="16.08.1993"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="logo-facebook"></ion-icon>
                    <ion-label stacked>Adresse</ion-label>
                    <ion-input disabled="{{isDisabled}}" type="text" value="9, rue Ferruce - 84000 Avignon"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="logo-facebook"></ion-icon>
                    <ion-label stacked>Password</ion-label>
                    <ion-input disabled="{{isDisabled}}" type="password" value="boccard"></ion-input>
                </ion-item>
            </ion-list>
        </div>

        <div *ngSwitchCase="'plan'">
          <ion-toolbar no-border-top>
              <ion-searchbar color="primary"
                  [(ngModel)]="queryText"
                  (ionInput)="updateSchedule()"
                  placeholder="Search">
              </ion-searchbar>
          </ion-toolbar>

          <ion-list>
            <ion-item-sliding>

            <ion-item>

              <ion-avatar item-left>
                <img src="img/img1.jpeg">
              </ion-avatar>

              <h2>Dragon Game of thrones</h2>

              <ion-icon color="secondary" name="happy" item-right></ion-icon> 
              3
              <ion-fab top right >
              <button ion-fab><ion-icon name="share"></ion-icon></button>
              <ion-fab-list side="left">
                <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
              </ion-fab-list>
            </ion-fab>

            </ion-item>

            <ion-item>

              <ion-avatar item-left>
                <img src="img/img1.jpeg">
              </ion-avatar>

              <h2>Dragon Game of thrones</h2>

              <ion-icon color="secondary" name="happy" item-right></ion-icon> 
              3

            </ion-item>

          <ion-item>

              <ion-avatar item-left>
                <img src="img/img1.jpeg">
              </ion-avatar>

              <h2>Dragon Game of thrones</h2>

              <ion-icon color="secondary" name="happy" item-right></ion-icon> 
              3

            </ion-item>

            <ion-item>

              <ion-avatar item-left>
                <img src="img/img1.jpeg">
              </ion-avatar>

              <h2>Dragon Game of thrones</h2>

              <ion-icon color="secondary" name="happy" item-right></ion-icon> 
              3

            </ion-item>

            <ion-item>

              <ion-avatar item-left>
                <img src="img/img1.jpeg">
              </ion-avatar>

              <h2>Dragon Game of thrones</h2>

              <ion-icon color="secondary" name="happy" item-right></ion-icon> 
              3

            </ion-item>

            <ion-item>

              <ion-avatar item-left>
                <img src="img/img1.jpeg">
              </ion-avatar>

              <h2>Dragon Game of thrones</h2>

              <ion-icon color="secondary" name="happy" item-right></ion-icon> 
              3

            </ion-item>
            <ion-item-options>
              <button ion-button color="danger">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

        </div>

        <div *ngSwitchCase="'pay'">
          
          <ion-item no-lines>
        <ion-label left>Solde</ion-label>
        <ion-label right type="text">76€</ion-label>
      </ion-item>
      <button ion-button round class="disable-hover button button-ios button-default button-default-ios button-round button-round-ios"><span class="button-inner">Virement</span><div class="button-effect"></div></button>

      <ion-card class="creditcard_content">
        <ion-card-header class="title_card" color="#FFF">
          Carte de crédit numéro 1
        </ion-card-header>

        <ion-item no-lines class="credit">
        
        <ion-input  type="number"
                    id="Credit cardnumber"
                    placeholder="Credit Card number"
                    class="form-control"
                    pattern="[0-9]{10}"></ion-input>
        <ion-icon name="ios-card" item-right primary></ion-icon>
        </ion-item>

        <ion-row>
        <ion-col width-49>
        <ion-item   class="month">
        <ion-input left type="number"
                    placeholder="MM"
                    pattern="[0-9]{2}"
                    ></ion-input>
        </ion-item>
        </ion-col>
        <span class="symbol">/</span>
        <ion-col width-49>
        <ion-item   class="year">
        <ion-input right  type="number"
                    placeholder="YY"
                    pattern="[0-9]{2}"></ion-input>
        </ion-item>
        </ion-col>
        <ion-item   class="cvv">
        <ion-input   type="password"
                    placeholder="CVV"
                    pattern="[0-9]{3}"></ion-input>
        </ion-item>
        
        </ion-row>
      </ion-card>
      
        </div>
    </div>
  </div>

</ion-content>



<ion-nav id="nav" #mycontent [root]="rootPage"></ion-nav>
